/* Estilos generales */
body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita que el video sobresalga del contenedor */
}
#game-container {
    position: relative;
}

#onboarding {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 80%; /* Limitamos el ancho máximo del rectángulo */
    margin: auto; /* Centramos el cuadro de texto horizontalmente */
}

h2, p {
    font-size: 16px;
}

button {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
}

button:hover {
    background-color: #2980b9;
}
/* Estilos para el video de fondo */
.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%) scale(1.5); /* Zoom del 150% */
    z-index: -1; /* Coloca el video detrás del contenido */
}
/* Estilos para el encabezado */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    z-index: 1000; /* Asegura que el encabezado esté por encima de todo */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el encabezado */
}

/*Estilos para la barra de navegación*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos uniformemente a lo largo del espacio disponible */
    align-items: center; /* Centra los elementos verticalmente */
}
nav ul li {
    margin: 0 10px; /* Agrega un margen horizontal de 10px a cada elemento */
}
nav ul li:last-child {
    margin-right: 50px; /* Quita el margen derecho del último elemento */
}
nav ul li a {
    color: white;
    text-decoration: none; /* Elimina el subrayado */
    font-family: 'Font1', sans-serif; /* Primera tipografía */
    transition: font-family 1.5s ease; /* Agrega una transición de 0.5 segundos para el cambio de tipografía */
}
nav ul li a:hover {
    font-family: 'Font2', "Felix Titling"; /* Segunda tipografía al pasar el ratón por encima */
}

/* Estilos para el juego-container */
#game-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section {
    padding: 20px;
    margin-top: 80vh; /* Agrega un margen superior equivalente a una ventana entera */
}

/* Estilos para la sección de inicio */
/* Estilos para la sección de inicio */
#inicio {
    background-color: #3498db; /* Azul */
    color: white;
    width: 100%; /* Ocupa todo el ancho de la página */
    padding: 20px; /* Agrega un poco de relleno */
    box-sizing: border-box; /* Incluye el relleno en el ancho total */
}

/* Estilos para la sección acerca de */
#acerca-de {
    background-color: #2ecc71; /* Verde */
    color: white;
    width: 100%; /* Ocupa todo el ancho de la página */
    padding: 20px; /* Agrega un poco de relleno */
    box-sizing: border-box; /* Incluye el relleno en el ancho total */
}

/* Estilos para la sección de contacto */
#contacto {
    background-color: #e74c3c; /* Rojo */
    color: white;
    width: 100%; /* Ocupa todo el ancho de la página */
    padding: 20px; /* Agrega un poco de relleno */
    box-sizing: border-box; /* Incluye el relleno en el ancho total */
}
/* Estilos para el footer */
footer {
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espacio interno */
    text-align: center; /* Centra el contenido del footer */
    position: fixed; /* Fija el footer en la parte inferior de la ventana */
    left: 0; /* Alinea el footer a la izquierda */
    bottom: 0; /* Coloca el footer al fondo */
    width: 100%; /* Ancho del footer al 100% del viewport */
}

@media only screen and (max-width: 600px) {
    /* Estilos específicos para dispositivos móviles */
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos específicos para tabletas */
}

@media only screen and (min-width: 1025px) {
    /* Estilos específicos para escritorios */
}
